<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logan Lupeamanu</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>

    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        <a href="/resume">Resume</a>
    </div>  
    
    <div style="padding-left: 16px">
        <h2>My Projects</h2>
        <p>Projects</p>
    </div>

</body>
</html>
