<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logan Lupeamanu</title>
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
            <a class="active" href="/resume">Resume</a>
        </div>  
        
        <div class="resume">
            <h2>My Resume</h2>
            <object 
                data="static\Logan Lupeamanu Resume Aug-2023.pdf"
                width="1600"
                height="1000">
            </object>
        </div>

    </body>
</html>
